

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: min(130ch, 100vw - 2rem);
    margin-inline: auto;

 
}
main{
    background-color: rgb(197, 196, 255);
    padding: 5rem;
}
.grid{

    grid-gap: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media(max-width: 600px){
        grid-template-columns: 1fr;
      }
}



.test{
    background-size: cover;
}